body {
  background-color: #222;
}

div {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.item_1 {
  background-color: var(--primario);
}

.item_2 {
  background-color: var(--primario-hover);
}

.item_3 {
  background-color: var(--sidebar);
}

.item_4 {
  background-color: var(--bg-app);
}

.item_5 {
  background-color: var(--bg-card);
}

.item_6 {
  background-color: var(--border);
}

.item_7 {
  background-color: var(--text-main);
}

.item_8 {
  background-color: var(--text-muted);
}

.item_9 {
  background-color: var(--success);
}

.item_10 {
  background-color: var(--danger);
}
